/* .col-md-3 {
    margin: 20px 0 0 0;
    border: 1px solid black;
} */

* {box-sizing: border-box; }

#productos .box {
    display: inline-block;
    width: 30%;
    padding: 2px;
    margin: 14px;
}

#productos img {
    display: block;
    padding: 0 10px 0 0;
}

.section {
    margin: 15px
}